.deals {
    height: 100vh;
    @media (max-width: 1200px) {
       margin-top: 100px;
    }

    .service {
        display: flex;
        padding: 10px 250px;
        margin-top: 50px;
        align-items: center;
        gap: 75px;
        
        @media (max-width: 1200px) {
            padding: 0 100px;
            gap: 50px;
        }
        @media (max-width: 1100px) {
            flex-direction: column;
        }
        @media (max-width: 980px) {
            padding: 0 50px;
            gap: 20px;
            flex-direction: column;
        }
        @media (max-width: 560px) {
            padding: 0 10px;
            gap: 8px;
        }

        div {
            padding: 20px;
            border-radius: 10px;
            background-color: rgb(249, 248, 248);
            i {
                font-size: 20px;
            }
            h4 {
                font-size: 22px;
                @media (max-width: 1200px) {
                    font-size: 20px;
                }
                @media (max-width: 980px) {
                    font-size: 18px;
                }
                @media (max-width: 560px) {
                    font-size: 16px;
                }
            }
            h4,p {
                font-family: 'Noto Sans', sans-serif;
            }
        }
    }


    .wrapper {

        font-family: 'Noto Sans', sans-serif;
        padding: 70px 250px;
        display: flex;
        gap: 150px;
        align-items: center;
        @media (max-width: 1200px) {
            padding: 0px 100px;
            gap: 110px;
        }
        @media (max-width: 980px) {
            padding: 0px 50px;
            gap: 80px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        @media (max-width: 560px) {
            padding: 0px 10px;
            gap: 50px;
        }
        img {
            width: 40%;
            @media (max-width: 1200px) {
                width: 30%;
            }
            @media (max-width: 980px) {
                width: 32%;
            }
            @media (max-width: 680px) {
                width: 50%;
            }

        }
        .deal {
            display: flex;
            flex-direction: column;

            gap: 15px;
            @media (max-width: 1200px) {
                gap: 10px;
            }
            @media (max-width: 980px) {
                gap: 5px;
                align-items: center;
            }
            
            button {
                padding: 10px;
                border-radius: 10px;
                border: none;
                background-color: black;
                color: white;
                letter-spacing: .5px;
                font-size: 16px;
                font-family: 'Noto Sans', sans-serif;        
                cursor: pointer;
                transition: all .25 ease-in-out;
            }
            
            button:hover {
                transform: scale(1.1);
            }
            
            i {
                color: orange;
            }
            
            h2 {
                font-family: 'Noto Sans', sans-serif;
                font-size: 36px;
                font-weight: 500;
                margin-bottom: 10px;
                font-weight: 600;
                @media (max-width: 1200px) {
                    font-size: 32px;
                }
                @media (max-width: 980px) {
                    font-size: 30px;
                }
                
            }
            
            .desc {
                font-family: 'Noto Sans', sans-serif;
                font-size: 16px;
                margin-bottom: 10px;
                letter-spacing: .5px;
                @media (max-width: 1200px) {
                    font-size: 14px;
                }
                @media (max-width: 980px) {
                    font-size: 12px;
                    max-width: 250px;
                    text-align: center;
                }
            }
            
            .timer {
                margin-bottom: 20px;
                display: flex;
                gap: 15px;
                
                .countdown {
                    
                    border: 2px solid #f2f2f2;
                    width: 78px;
                    height: 78px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    @media (max-width: 1200px) {
                        width: 60px;
                        height: 60px;
                    }
                    @media (max-width: 980px) {
                        width: 55px;
                        width: 55px;
                    }
                    span {
                        font-size: 18px;
                        font-family: 'Noto Sans', sans-serif;
                        @media (max-width: 1200px) {
                            font-size: 16px;
                        }
                        @media (max-width: 980px) {
                            font-size: 14px;
                        }
                    }
                }
                
            }
        }
    }
}