.deals {
    height: 100vh;

    .service {
        display: flex;
        padding: 10px 250px;
        margin-top: 50px;
        align-items: center;
        gap: 75px;
        


        div {
            padding: 20px;
            border-radius: 10px;
            background-color: rgb(245, 245, 245);
            i {
                font-size: 20px;
            }
            h4 {
                font-size: 22px;
            }
            h4,p {
                font-family: 'Noto Sans', sans-serif;
            }
        }
    }


    .wrapper {

        font-family: 'Noto Sans', sans-serif;
        padding: 70px 250px;
        display: flex;
        gap: 150px;
        align-items: center;
        img {
            width: 500px;
        }
        .deal {
            display: flex;
            flex-direction: column;
            gap: 15px;
            
            button {
                padding: 10px;
                border-radius: 10px;
                border: none;
                background-color: black;
                color: white;
                letter-spacing: .5px;
                font-size: 16px;
                font-family: 'Noto Sans', sans-serif;        
                cursor: pointer;
                transition: all .25 ease-in-out;
            }
            
            button:hover {
                transform: scale(1.1);
            }
            
            i {
                color: orange;
            }
            
            h2 {
                font-family: 'Noto Sans', sans-serif;
                font-size: 36px;
                font-weight: 500;
                margin-bottom: 10px;
                font-weight: 600;
            }
            
            .desc {
                font-family: 'Noto Sans', sans-serif;
                font-size: 16px;
                margin-bottom: 10px;
                letter-spacing: .5px;
            }
            
            .timer {
                margin-bottom: 20px;
                display: flex;
                gap: 15px;
                
                .countdown {
                    
                    border: 2px solid #f2f2f2;
                    width: 78px;
                    height: 78px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    
                    span {
                        font-size: 18px;
                        font-family: 'Noto Sans', sans-serif;
                    }
                }
                
            }
        }
    }
}